<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Short URL</th>
          <th scope="col">Actual URL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let urlshortener of urlshorteners">
          <td>{{ urlshortener.id }}</td>
          <td>{{ urlshortener.code }}</td>
          <td><a href="{{ urlshortener.url }}">{{ urlshortener.url }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>